:root{
  font-size: 16px;
}
@media all and (max-width: 320px) {
  :root{
    font-size: 10px;
  }
  .is320{
    display: inline;
  }
  .not320,.is800,.is801{
    display: none;
  }
  .block-3-6{
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
}
@media all and (min-width: 321px) and (max-width: 800px) {
  :root{
    font-size: 24px;
  }
  .is800{
    display: inline;
  }
  .not800,.is320,.is801{
    display: none;
  }
  .block-3-6{
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
}
@media all and (min-width: 801px) {
  .is801{
    display: inline;
  }
  .not801,.is320,.is800{
    display: none;
  }
  .block-3-6{
    float: left;
    width: 33%;
    box-sizing: border-box;
  }
}
*{
  margin: 0;
  padding: 0;
  transition: all 300ms ease-in-out;
  /*font-family: arial;*/
}
body{
  font-family: 'Roboto', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #4078c0;
}
p{
  text-align: center;
  font-size: 3rem;
  padding: 1em;
}
/*HEADER*/

.header{
  position: relative;
  width: 100%;
  height: 400px;
  text-align: center;
}
.caption{
  font-size: 3rem;
  line-height: 400px;
  margin-top: -0.625em;
  display: inline-block;
}

/*CONTENT*/

.content{
  width: 100%;
}
.whoami{
  padding: 0 2em;
}
.fonts{
  font-size: 2rem;
  padding: 2em;
}
.work ul{
  text-align: center;
  padding: 1em;
}
.content p{
  padding: 0;
  font-size: 1rem;
  line-height: 1.5em;
}
.content h3{
  text-align: center;
  padding: 1em;
}
.work a{
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}
.work li:hover{
  background: #000;s
}
.work li:hover a{
  color: #fff;
}
.tips{
  color: #fff;
  font-size: 1rem;
}
.find ul{
  text-align: center;
}
/*FOOTER*/

.footer{
  width: 100%;
  height: 2em;
}
.footer_menu{
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  background: #000;
}
.menu__item{
  display: inline-block;
  padding: 1em;
}
.menu__item a{
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}
.menu__item:hover{
  background: #fff;
}
.menu__item:hover a{
  color: #000;
}
